	body {
		text-align: center;
		font-family: courier;
		font-size: 3mm;
	}
	body.print {
			width: 21.5cm;
			height: 29.5cm;
			border: 1px solid black;
			margin: 0;
			padding: 0;
	}
	section {
		position: relative;
		top: 0;
		left: 0;
		margin: auto;
		text-align: left;
		width: 10.5cm;
		height: 6.5cm;
		border: 1px solid gray;
		font-size: 1.5em;
		margin-bottom: 10px;
	}
	body.print section {
			float: left;
			margin-bottom: 0;
	}
	.x {
		font-size: 5em;
		position: absolute;
		top: 12mm;
		left: 10px;
	}
	.content {
		padding-left: 3.3cm;
	}
	.content.social {
		margin-top: 76px;
	}
	.content.info {
		border-top: 1px solid black;
	}
	h1 {
		font-size: 1.4em;
		margin: 0;
		padding: 0;
	}
	.git, .copyright, .version {
		font-size: 0.8em;
		position: absolute;
		bottom: 5px;
		left: 15px;
		color: #333333;
	}
	.version {
		right: 15px;
		left: inherit;
	}
	.smily {
		font-size: 5em;
		position: absolute;
		top: 13mm;
		left: 0mm;
	}
	.code {
		margin-top: 60px;
	}
	.row.row-bold {
		padding-left: 40mm;
		font-weight: bold;
	}
	.row {
		padding-left: 50mm;
		padding-bottom: 3px;
		padding-top: 3px;
		border-bottom: 1px solid #888888;
		font-size: 0.7em;
	}
